*{margin:0;padding:0;box-sizing: border-box}
ol,ul{list-style: none}
a{color:inherit;text-decoration: none;}
$designWidth :375;
$designHeight :667;
@function px2vw( $px ){
    @return $px/$designWidth*100 + vw;
}
@function px2vh( $px ){
    @return $px/$designHeight*100 + vh;
}
.player{
    width:100vw;
    height:100vh;
    .nav{
        height: px2vh(67.5);
        width:100%;
        border:1px solid red;
    }
    .discWrapper{
        height:px2vh(270);
        width:100%;
        border:1px solid blue;
    }
    .lyricsWrapper{
        height:px2vh(263.25);
        width:100%;
        border:1px solid rgb(255, 196, 0);
    }
    .buttonWrapper{
        height:px2vh(66);
        display: flex;
        align-items: center;
        justify-content: space-around;
        button{
            width:px2vw(144);
            height:px2vh(34);
            border:1px solid rgb(208, 58, 54);
            border-radius: px2vh(17);
        }
        #open{
            color:rgb(208, 58, 54);
            outline:none;
            background: transparent;
        }
        #download{
            background: rgb(208, 58, 54);
            color:white;
            outline:none;
        }
    }
}
.player::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    background:transparent url('../../img/timg.jpg') no-repeat center;
    background-size:cover;
    filter: blur(10px);
}