*{margin:0;padding:0;box-sizing: border-box;}
ul,ol{list-style: none}
a{color:inherit;text-decoration: none;}
.loading{
    position: fixed;
    background: black;
    opacity: 0.2;
    width:100vw;
    height:100vh;
    display:none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    .loadingAnimation{
        border:1px solid #666;
        border-radius:50%;
        width:1px;
        height:1px;
        background: #666;
        animation: loadingAnim 0.8s linear alternate-reverse infinite;
    }
    @keyframes loadingAnim {
        from{
            width:1px;
            height:1px;
        }
        to{
            width:100px;
            height:100px;
        }
    }
}
.loading.active{
    display: flex;
}
.content-wrapper{
    display: flex;
    >aside{
        height:100vh;
        display: flex;
        flex-direction: column;
        >.newSong{
            min-height:50px;
            width:200px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom:1px solid #999;
        }
        >.newSong:hover{
            cursor: pointer;
        }
        >.newSong.active{
            background: #ddd;
        }
        >.songList{
            flex-grow:1;
            >ul{    
                max-height: 794px;
                overflow-x:hidden;
                overflow-y:auto;
                
                >li{
                    padding :10px ;
                    border-bottom :1px solid #999;
                    max-width: 200px;
                    overflow:hidden;
                }
                >li:hover{
                    cursor: pointer;
                }
                >li.active{
                    background: #ddd;
                }
            }
        }
       
        >.dragFile{
            justify-content: flex-end;
            >#container{
                height:100px;
                width:200px;
                display: flex;
                align-items: center;
                justify-content: center;
                border:1px dashed #999 ;
                border-radius: 5px;
                flex-direction: column;
                >#pickfiles{
                    margin:0 auto;
                    padding: 11px;
                }
            }
        }
        >.dragFile:hover{
            cursor: pointer;
        }
    }
    >main{
        width:100%;
        padding-left:20px;
        background: #ddd;
        >.form-wrapper{
             .row{
                 display: flex;
                 align-items: center;
                 padding:4px;
                 font-family: Arial, Helvetica, sans-serif;
                 >input[type=text]{
                    padding:2px 7px;
                    height: 24px;
                    border:1px solid #ddd;
                    border-radius:5px;
                    outline: none;
                 }
                 >input[type=submit]{
                    padding:2px;
                    height:36px;
                    width:40px;
                    background: #fff;
                    border:1px solid #ddd;
                    border-radius:5px;
                    outline:none;
                 }
             }
        }
    }
}
